@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<!-- Кнопка перехода -->
<NavLink class="btn btn-primary" href="/create-user">
    Создать пользователя
</NavLink>